body {
	padding-bottom: 200px;
}

.output-row {
	display: flex;
	margin: 2px 0;
}

.output-label {
	width: 20%;
}

.output-value {
	flex: 1;
	font-family: monospace;
}

#output-preview {
	width: 50px;
	height: 50px;
}

.slider {
	margin: 15px 0;
	border: 1px solid #fff;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
	padding: 10px 0;
	background-repeat: repeat-x;
	background-size: 100% 100%;
	border-radius: 10px;
}

.slider .scrubber {
	float: left;
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid #fff;
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 1);
	margin-top: -15px;
	margin-left: -15px;
	position: relative;
	border-radius: 100%;
}

#output-binary {
	font-family: monospace;
	overflow: hidden;
}

#output-binary .bit-red { color: hsl(0, 70%, 70%); }
#output-binary .bit-red.bit-significant { color: hsl(0, 70%, 50%); }

#output-binary .bit-green { color: hsl(120, 70%, 70%); }
#output-binary .bit-green.bit-significant { color: hsl(120, 70%, 50%); }

#output-binary .bit-blue { color: hsl(240, 70%, 70%); }
#output-binary .bit-blue.bit-significant { color: hsl(240, 70%, 50%); }
